<% content_for(:page_title, 'Sign up') %>

<%= render 'shared/auth_form', title: 'Sign up' do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render_auth_errors %>

    <div class="field">
      <div class="control">
        <%= f.email_field :email, class: :input, placeholder: :email, autofocus: true %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.password_field :password, class: :input, placeholder: :password, autocomplete: "off" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.password_field :password_confirmation, class: :input, placeholder: 'Password confirmation', autocomplete: "off" %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.submit "Sign up", class: 'button is-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
