<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Snibox | <%= @page_title.empty? ? yield(:page_title) : @page_title %></title>

  <%= render 'shared/apple_touch_icons' %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>

  <%= stylesheet_pack_tag 'common' %>
  <%= render 'shared/rspec_disable_animations' if Rails.env.test? %>
</head>

<body class="<%= @body_class %>">
<%= render 'shared/navbar' %>

<%= yield %>

<!-- js -->
<%= javascript_pack_tag 'vendor' %>
<%= javascript_pack_tag 'common' %>
<%= @activate_repository ? javascript_pack_tag('repository') : javascript_pack_tag('page') %>
<%= javascript_pack_tag 'navbar' %>

</body>
</html>
